@{
    ViewBag.Title = "HttpError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Произошла ошибка</h2>
<br />
<p>Ваши действия являются потенциально опасными. К сожалению они не будут выполнены</p>

