@{
    ViewBag.Title = "О Себе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap-article">
   <h2>Отец российской соцсети. Интернет-тотем</h2>
   <div class="text-block">
       
       <p>Родился в Ленинграде в интеллигентной семье. Отец Павла – известный лингвист, в течение многих лет возглавляет кафедру русской филологии 
       санкт-петербургского университета.
       </p>

       <p>Старший брат Николай – программист, победитель всевозможных олимпиад и обладатель громких титулов. В школьные годы у подростка Павла были 
       проблемы со зрением, но это ему не помешало отлично закончить экспериментальный класс Академической гимназии, куда он перевелся после обычной школы. 
       Здесь тоже проявлял себя участием в олимпиадах по информатике и математике. Но его, конечно же, влекло программирование. 
       </p>
       <br>
       <div class="img-center">
           <img src="~/Content/Images/About/about-01.jpg" alt="" />
       </div>
       
       <p>Как и все фанаты железа, начинал он с хакерства, взламывая пароли к школьным компьютерам и обескураживая учителя. Когда Павла спросили, кем он 
       видит себя в перспективе, он ответил: «Интернет-тотемом». Однако окончив гимназию, он пошел по отцовским стопам, поступив на филологический факультет. 
       Но здесь он не только изучал языкознание, но и развивался в намеченном ранее направлении.
       </p>

       <p>Первым интернет-проектом будущего миллиардера стал сайт durov.com, представлявший своеобразную площадку для общения студентов, учившихся в разных 
       вузах города. Однако эта болталка интересовала его все меньше. Тогда он занялся университетским форумом spbgu.ru, сделав его многоуровневым. Так, на 
       нем появились окна факультетов, где можно было вести активную переписку, иногда Павел сам организовывал дискуссии и различные конкурсы.
       </p>
       <br>
       <div class="img-center">
           <img src="~/Content/Images/About/about-02.jpg" alt="" />
       </div>

       <p>Этот проект претендовал на потанинскую стипендию, и Павел стал ее обладателем. На него обратили внимание как на перспективного молодого человека. 
       Форум обретал силу и посещаемость. Ежедневно на spbgu.ru заходило порядка 3 000 человек. Однако о коммерциализации своего проекта он пока не задумывался, 
       а напротив, относился настороженно, если вдруг пользователи вывешивали рекламные баннеры.
       </p>

       <p>Понятное дело, что учебу он практически забросил, однако все же университет Павел окончил в 2006-м с красным дипломом, который, кстати, до сих пор не забрал.
       </p>

       <p>В планах Дурова созрел новый проект социальной сети в глобальных масштабах, только для воплощения в жизнь ему нужны были единомышленники. И тут совершенно 
       случайно нашелся его одноклассник, теперь проживающий в Штатах. И хотя собственных сбережений у Валерия не было, он во всем поддержал Павла. Он отважился на 
       рискованный шаг, заняв денег у отца, владевшего сетью казино. И проект начал реализовываться.
       </p>
       <br>
       <div class="img-center">
           <img src="~/Content/Images/About/about-03.jpg" alt="" />
       </div>
     
       <p>1 октября 2006 года был зарегистрирован домен vkontakte.ru, и с этого дня началась официальная история развития самой востребованной на сегодняшний день 
       социальной сети на территории РФ и стран СНГ. Только за первый год сеть получила 3 млн пользователей. Павел Дуров сумел уговорить инвесторов вложиться в этот 
       проект и со временем стал брать мзду за рекламу – потекли первые миллионы. Проект окупился с лихвой. Команду разработчиков Павел подобрал соответствующую – 
       это люди, заинтересованные в создании качественного продукта, удовлетворяющего потребности пользователя.
       </p>

       <p>В 2011 году сайт модифицировали: был полностью переписан код движка, появились всплывающие окна сообщений, удобный просмотр фотографий,возможность 
       добавлять видео с известных видеохостингов.
       </p>
       <br>
       <div class="img-center">
           <img src="~/Content/Images/About/about-04.jpg" alt="" />
       </div>

       <p>Павел Дуров придерживается либертарианских политических взглядов, является вегетарианцем и выступает за образовательные реформы в России.
       </p>

       <p>Из политических деятелей его кумир – Эрнесто Че Гевара. А жизненные установки ему «подсказал» Стив Джобс.
       </p>
       
       <p>О молодом бизнесмене автор Николай Кононов написал книгу «Код Дурова». В настоящее время по ней снимается фильм.
       </p>
   </div>
</div>