@{
    Layout = null;
}

@model MyBlog.Models.ArticleModel

@using (Html.BeginForm("AddComment", "Home", new { title = Model.Post.Title }, FormMethod.Post, new { name = "AddCommentForm", id = "CommentForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="add-comment">
        @Html.ValidationMessageFor(m => m.NewComment.Content)
        @Html.TextAreaFor(m => m.NewComment.Content, new { placeholder = "Ваш комментарий", @class = "txt-area" })
        <div class="wrap-btn">
            <a href="#CommentForm" onclick="document.forms['AddCommentForm'].reset()">Очистить</a>
            @*<button class="btn-cancel">Отменить</button>*@
            <button class="btn-save">Добавить</button>
        </div>
    </div>
}      