@{
    Layout = null;
}

<div class="posts-wrap">
    <h3>Последние Статьи</h3>
    <ul>
        <li>
            <p class="date">@DateTime.Now.Date.ToString("D")</p>
            <p class="post">
                <a href="#">Post.Title</a>
            </p>
        </li>
        <li>
            <p class="date">@DateTime.Now.Date.ToString("D")</p>
            <p class="post">
                <a href="#">Post title</a>
            </p>
        </li>
        <li>
            <p class="date">@DateTime.Now.Date.ToString("D")</p>
            <p class="post">
                <a href="#">Post title</a>
            </p>
        </li>
    </ul>
</div>